html, body {
  overflow-x: hidden;
}
body {
  background-color: rgba(84, 134, 123, .20);
  color: #4A4A4A;
  font-family: 'Dosis', Helvetica;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body.homePage {
  background-color: #fff;
}

:focus {
  outline: none;
}
