.footer {
  padding-top: 65px;
  padding-bottom: 50px;
  .title-col {
    display: flex;
    align-items: center;
    .title {
      font-size: 31px;
    }
  }
  .footer-wrapper {
      max-width: 1100px;
      margin: 0 auto;
      box-sizing: border-box;
  }
}
