.hero {
  background: #141413;
  padding: 10px 0 75px 0;
  .nav {
    display: flex;
    align-items: center;
    max-width: 1330px;
    margin: 0 auto;
    box-sizing: border-box;

    .nav-left {
      display: flex;
      justify-content: flex-start;
      flex: 1;
      .logo {
        text-decoration: none;
        width: 64px;
        height: 29px;
        font-family: 'Baumans';
        font-size: 24px;
        color: #00d2c1;
      }
    }
    .nav-right {
      display: flex;
      .become-a-keyper {
        text-decoration: none;
        font-size: 14px;
        color: #fff;
      }
    }
  }

  .headline {
    text-align: center;
    .hero-headline {
      color: #fff;
      height: 31px;
      font-weight: bold;
      font-size: 23px;
      white-space: nowrap;
      margin-left: -100%;
      margin-right: -100%;
      margin-bottom: 10px;
      margin-top: 55px;
    }

    .hero-copy {
      color: #fff;
      font-size: 18px;
      font-weight: 300;
      margin-top: 0;
      margin-bottom: 50px;
      max-width: 220px;
    }
  }
}
