h3.title {
  font-family: 'Dosis';
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 0.2px;
  text-align: center;
  margin: 0 auto;
}
.remodal-wrapper {
  padding: 0;
}

.join-form {
  max-width: 200px;
  margin: 0 auto;
  .row:first-child {
    margin-bottom: 4px;
  }
  .join-form-email {
    width: 230px;
    height: 45px;
    text-align: center;
    background-color: #fff;
    border: 0;
    font-family: 'Roboto';
    font-size: 14px;
    color: #bbb;
    box-sizing: border-box;
    margin-bottom: 5px;
    color: #222;
    border-radius: 0;
  }
  .join-form-button {
     width: 230px;
     height: 45px;
     background-color: #00d2c1;
     font-family: 'Roboto';
     font-weight: bold;
     border: 0;
     font-size: 18px;
     text-align: center;
     color: #fff;
     box-sizing: border-box;
     cursor: pointer;
     vertical-align: top;
  }
  .error-message {
    display: none;
    position: absolute;
    margin-top: -88px;
    font-size: 14px;
  }
}

.how-it-works {
  padding-top: 45px;
  padding-bottom: 25px;

  .title {
    padding-bottom: 37px;
	  color: #141413;
  }

  .steps {
    .step {
	    font-size: 18px;
	    letter-spacing: 0.2px;
	    text-align: center;
	    color: #141413;
      flex-direction: column;
      display: flex;
      align-items: center;
      padding-bottom: 30px;
      .icon, .desc {
        display: flex;
      }
      .arrow {
        width: 20px;
        height: 20px;
      }
      .desc {
        padding: 15px 0 25px 0;
        margin: 0;
        width: 140px;
      }
      &.last-step {
        padding-bottom: 0;
        .icon {
          width: 45px;
          height: 60px;
        }
      }
      &.postcode, &.select {
        .icon {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}

.testimonials {
  background-color: #00d2c1;
  padding: 40px 0;

  .items {
    max-width: 260px;
    margin: 0 auto;
    box-sizing: border-box;
    .quote-img-col {
      max-width: 55px;
      .quote-img {
        width: 36px;
        height: 30px;
        max-width: 55px;
      }
    }
    .item-col {
      .item {
        .quote {
    	    font-size: 18px;
    	    color: #141413;
          position: relative;
          margin: 0;
          padding-bottom: 25px;
        }
        .profile {
          display: flex;
          font-size: 14px;
  	      line-height: 1.4;
  	      letter-spacing: 0.2px;
  	      color: #141413;
          .profile-pic {
            margin-right: 5px;
            img {
              width: 40px;
              height: 40px;
            }
          }
        }
      }
    }
  }
}

.services {
  background-color: #141413;
  padding-top: 50px;
  padding-bottom: 15px;
  .title {
    color: #fff;
    padding-bottom: 40px;
    max-width: 280px;
  }
  .service-list {
    .service {
      padding-bottom: 35px;
      max-width: 240px;
      margin: 0 auto;
      word-wrap: break-word;
      box-sizing: border-box;
      .row {
        align-items: center;
        .service-icon {
          margin-right: 15px;
          img {
            width: 24px;
            height: 24px;
          }
        }
        .service-desc {
          font-size: 18px;
    	    line-height: 1.5;
    	    letter-spacing: 0.3px;
        }
        &.two-lines-in-mobile {
          align-items: flex-start;
          .service-icon {
            img {
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
}

.benefits {
  padding-top: 30px;
  padding-bottom: 35px;
  .title {
    color: #141413;
    padding-bottom: 20px;
  }

  .items {
    .item {
      padding-bottom: 20px;
      .item-title {
        font-size: 18px;
        line-height: 1.5;
        letter-spacing: 0.3px;
        color: #141413;
        margin-bottom: 4px;
      }
      .item-desc {
        font-size: 18px;
        line-height: 1.1;
        color: #00d2c1;
        max-width: 250px;
        margin: 0 auto;
      }
      &.item-last {
        padding-bottom: 0;
      }
    }
  }
}

.footer {
  padding: 28px 0;
  background-color: #00d2c1;
  .title {
  	color: #141413;
    padding-bottom: 20px;
  }
  .join-form-button {
    	border: 1px solid #fff;
  }
}

.thankyou-modal {
  .dialog-close {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;
  }

  .hurray {
    margin-top: 40px;
    width: 100px;
    height: 100px;
  }

  .text {
    font-size: 24px;
    text-align: center;
    color: #00d2c1;
  }
}

@media only screen and (min-width: 48rem) {

  h3.title {
    font-size: 42px;
	  letter-spacing: 0.4px;
  }

  .join-form {
    max-width: none;
    margin: auto auto;
    min-width: 500px;
    .join-form-email {
      outline: none;
      text-align: left;
      padding: 0 20px;
      width: 260px;
    }
    .join-form-email, .join-form-button {
      height: 60px;
      font-size: 20px;
    }
    .join-form-button {
      margin-left: -5px;
    }
    .error-message {
      margin-top: 0;
      font-size: 18px;
    }
   }

  .hero {
    padding-top: 15px;
    padding-bottom: 130px;
    .nav {
      .nav-right {
        .become-a-keyper {
          font-size: 18px;
          padding: 14px 21px 15px 24px;
          border: 2px solid #fff;
          border-radius: 4px;
        }
      }
    }
    .headline {
      .hero-headline {
        font-size: 48px;
        margin-bottom: 50px;
        margin-top: 90px;
      }
      .hero-copy {
        font-size: 24px;
        max-width: none;
      }
    }
  }

  .how-it-works {
    padding-top: 48px;
    padding-bottom: 25px;

    .title {
      margin: 0;
      padding-bottom: 59px;
    }

    .steps {
      max-width: 1100px;
      margin: 0 auto;
      box-sizing: border-box;
      .step {
        font-size: 24px;
        position: relative;
        .desc {
          width: 170px;
        }
        .arrow {
          transform: rotate(-90deg);
          position: absolute;
          right: 0;
          top: 35px;
          width: 30px;
          height: 30px;
        }
        &.last-step {
          .icon {
            width: 62px;
            height: 84px;
          }
        }
        &.postcode, &.select {
          .icon {
            width: 84px;
            height: 84px;
          }
        }
      }
    }
  }

  .testimonials {
    padding: 40px 0;

    .items {
      max-width: 950px;
      .quote-img-col {
        max-width: none;
        .quote-img {
          width: 36px;
          height: 30px;
          max-width: none;
        }
      }
      .item-col {
        .item {
          .quote {
      	    font-size: 36px;
            padding-bottom: 25px;
          }
          .profile {
            font-size: 20px;
    	      line-height: 1.2;
    	      letter-spacing: 0.3px;
            .profile-pic {
              img {
                width: 46px;
                height: 46px;
              }
            }
          }
        }
      }
    }
  }

  .services {
    .title {
      max-width: none;
      padding-bottom: 70px;
    }
    .service-list {
      max-width: 950px;
      margin: 0 auto;
      box-sizing: border-box;
      .service {
        max-width: none;
        .row {
          align-items: center;
          .service-icon {
            margin-right: 30px;
            img {
              width: 36px;
              height: 36px;
            }
          }
          .service-desc {
            font-size: 24px;
            line-height: 1.1;
    	      letter-spacing: 0.3px;
          }
          &.two-lines-in-mobile {
            align-items: center;
            .service-icon {
              img {
                margin-top: 0;
              }
            }
          }
        }
      }
    }
  }

  .benefits {
    padding-top: 45px;
    padding-bottom: 35px;
    .title {
      padding-bottom: 55px;
    }

    .items {
      max-width: 1100px;
      margin: 0 auto;
      .item {
        padding-bottom: 60px;
        .item-title, .item-desc {
          text-align: left;
          max-width: 400px;
          margin: 0 auto;
          box-sizing: border-box;
        }
        .item-title {
          font-size: 24px;
          line-height: 1.1;
          margin-bottom: 15px;
        }
        .item-desc {
          font-size: 20px;
          line-height: 1;
        }
      }
    }
  }
  
  .thankyou-modal {
    .dialog-close {
      width: 32px;
      height: 32px;
      top: 20px;
      right: 20px;
    }

    .hurray {
      margin-top: 40px;
      width: 130px;
      height: 130px;
    }

    .text {
      font-size: 46px;
    }
  }
}
